  
/*блок header*/
.header {
    background-color: #222222;
    max-height: 75px;
    &__container {
        margin: 0 auto;
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left_buttons {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__buttons {
        max-width: 159px;
        padding-top: 26px;
        padding-bottom: 26px;
        display: flex;
        align-items: center;
        gap: 33px;
    }
}
#check {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    }
#check:checked.modal_menu {
    right: 0;
    }