/* media 768-1024*/
@media (min-width: 768px) and (max-width: 1024px) {

    /*index*/
    .header__container, .intro__container, .container {
        max-width: 768px;
        margin: 0 auto;
    }

    /*intro block*/
    .intro__container {
        gap: 40px;
    }
    .intro__image img {
        width: 100%;
    }
    .intro__header {
        width: 100%;
        align-self: center;
        border-left: 12px solid #F16D7F;
        margin-left: 0px;
        h1 {
            font-size: 44px;
        }
        h2 {
            font-size: 24px;
        }
    }
    /*block offers at the main page*/
    .offers {
        max-width: 768px;
        padding-top: 65px;
        padding-bottom: 106px;
        display: grid;
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 167px 116px;
        gap: 19px;
        grid-row-gap: 30px;
        justify-content: center;
    }
    .offer__card {
        width: 232px;
        position: relative;
    }
    .offer_img {
        position: absolute;
        width: 100%;
    }
    .offer_header {
        font-size: 16px;
    }
    .large {
        width: 734px;
        grid-area: 2 / 1 / 3 / 4;
    }
    .offer__header_red {
        font-size: 24px;    
    }
    /*product block*/
    .product__cards {
        padding-bottom: 32px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 16px;
    }
    .prod_block_description {
        padding-bottom: 72px;
    }
    .prod_img {
        width: 100%;
    }
    /*.advantages*/ 
    .advantages {
        display: grid;
        gap: 48px;
        padding:   48px 204px 64px 204px;
    }
    .advantages__title {
        margin: 16px;
        padding-bottom: 0px;
    }
    .advantages__descr {
        margin: 0px;
        padding-top: 0px;
    }
    /*subscribe*/
    .subscribe {
        padding-top: 64px;
        padding-bottom: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 30px;
        background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
		url(img/subscribe_img.png) no-repeat;
        background-size: cover;
        background-position: 26% ;
    }
    .sub_foto {
        width: 100%;
    }
    .subscribe_text {
        margin: 0;
    }
    /*footer*/
    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
    /*registration page*/
    .registration {
        gap: 22px;
    }
    /*cart page*/ 
    .cart {
        flex-direction: column;
        margin: auto;
        &__cards {
            margin: 0 auto;
        }
        &__forms {
            display: flex;
            flex-direction: row;
        }
        &__total_info {
            margin-top: 60px;
        }
    }
}

/* media 375-767*/
@media (min-width: 375px) and (max-width: 767px) {

    .header__container {
        max-width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        justify-content: space-between;
    }
    .container, .intro__container {
        max-width: 375px;
    }
    .user__profile, .cart_img, .intro__image {
        display: none;
    }
    .intro {
        // width: 100%;
        min-height: 363px;
        // display: flex;
    }
    .intro__header {
        max-width: fit-content;
        display: flex;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 20px;
    }
    .offers {
        display: flex;
        flex-direction: column;
    }
    .offer__card {
        margin: 0 auto;
        width: 343px;
        height: 247px;
    }
    .offer_img {
        width: 100%;
        height: 100%;
    }
    .large {
        width: 343px;
        height: 111px;

    }
    .large .offer_img  {
        width: 100%;
        height: 116.043px;
    }
    .offer_header {
        margin-top:  -10px;
    }
    .products {
        padding-bottom: 96px;
    }
    .prod_block_description {
        padding-bottom: 64px;
    }
    .product__cards {
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 16px;
    }
    .product__cards {
        padding-bottom: 40px;
    }
    .prod_img {
        width: 100%;
    }
    .advantages {
        display: grid;
        gap: 47px;
        padding:   48px 14px 81px 14px;
    }
    .advantages__card {
        width: 348px;
    }
    .advantages__title {
        margin: 16px;
        padding-bottom: 0px;
    }
    .advantages__descr {
        margin: 0px;
        padding-top: 0px;
    }
    .subscribe {
        padding:  64px 0px 109px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 59px;
        background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
		url(img/subscribe_img.png) cover no-repeat;
        background-position: 25%  15%
    }
    .sub_foto {
        width: 100%;
        padding-bottom: 29px;
    }
    .subscribe_text {
        font-size: 18px;
        padding: 0 10px;
    }
    .footer {
        padding: 43px 32px 9px 32px;
        flex-direction: column-reverse;
        gap: 40px;
    }
    /*registration page*/
    .registration {
        flex-direction: column;
        gap: 40px;
        &__head {
            font-size: 16px;
        }
        &__loyalty_text {
            width: 358px;
            font-size: 16px;
        }
        &__list {
            display: flex;
            align-items: center;
            gap: 23px;
            max-width: 356px;
            & span {
                display: block;
                font-size: 16px;
                max-width: 315px;
            }
        }
        .registration__head {
            font-size: 16px;
            line-height: 19px;
        }
    }
}